.nav {
    position: relative;
    display: flex;
    align-items: center;
    gap: 18px;
}

.link {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: var(--text);
    position: relative;
    padding-bottom: 4px;
    transition: color 150ms ease-in-out;
}

.link:hover {
    color: var(--hover);
}

.link.active {
    color: var(--hover);
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.underline {
    position: absolute;
    bottom: -10px;
    height: 3px;
    background-color: var(--hover);
    border-radius: 2px;
}